<div>
	<ul class="userdetail am-list am-list-static">
		<li>项目名称：<strong ng-bind="project.ProjectOpenName"></strong></li>
		<li>行业类型：<strong ng-bind="project.TabIndustry.IndustryText"></strong></li>
		<li>项目所属区域：<strong ng-bind="project.TabPersonLocation"></strong></li>
		<li>发展阶段：<strong ng-bind="project.TabProjectState.IndustryText"></strong></li>
		<li>企业性质：<strong ng-bind="project.TabCompanyNature.CompanyNatureText"></strong></li>
		<li>融资规模(万)：<strong ng-bind="project.FinancingSize"></strong></li>
		<li>项目内容：<strong ng-bind="project.ProjectIntroduction"></strong></li>
		<li>项目评级：<strong ng-bind="project.TabCertificationState.CertificationStateText"></strong></li>
		<li>申请用户：<strong ng-bind="project.User.FirstName"></strong></li>
		<li>电子邮箱：<strong ng-bind="project.Email"></strong></li>
	</ul>
	<p class="text-center"><a href="#/" class="am-btn am-btn-primary am-btn-sm">返回</a></p>
</div>