<div ng-controller="usershowCtrl">
	<ul class="userdetail am-list am-list-static">
		<li>姓名：XXXX</li>
		<li>性别：XXXX</li>
		<li>公司名称：XXXX</li>
		<li>职务：XXXX</li>
		<li>行业：XXXX</li>
		<li>手机号：XXXXXXXXXXX</li>
		<li>微信号：XXXXXXXXX</li>
		<li>邮箱：XXXXXXXX</li>
		<li>常住地：XXXXXXXX</li>
		<li>个人介绍：XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
	</ul>
	<p class="text-center"><a href="#" class="am-btn am-btn-primary am-btn-sm">返回</a></p>
</div>